
@using Burse.Models
@model Burse.Models.BurseItemOverview

@{
    if (ViewBag != null)
    {
        ViewBag.Title = "Burse";
    }
}

<div class="container">

@if (!string.IsNullOrWhiteSpace(Model?.EventMessage))
{
    <div class="row">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Сообщение
                </h3>
            </div>

            <div class="panel-body">
                @Model.EventMessage
            </div>
        </div>
    </div>
                    }

<div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("AddBuyOrder", "Home", FormMethod.Post, new { @class = "form-horizontal", id = BurseItemOverview.NameOfAddBuyOrder }))
            {
                <fieldset>
                    <legend>Разместить ордер на покупку</legend>
                    <div class="form-group">
                        <label class="control-label" for="BuyPrice">Цена </label>
                        <input type="number" class="form-control" id="BuyPrice" name="@BurseItemOverview.NameOfBuyPrice" placeholder="в рублях" value ="@Model?.FieldBuyPrice">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="NumbersToBuy">Количество </label>
                        <input type="number" class="form-control" id="NumbersToBuy" name="@BurseItemOverview.NameOfNumbersToBuy" placeholder="в штуках" value ="@Model?.FieldAddBuyOrderFieldNumbersToBuy">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="BuyComment">Комментарий </label>
@{
    var buyComment = string.Empty;
    if (!string.IsNullOrWhiteSpace(Model?.FieldBuyComment))
    {
        buyComment = Model.FieldBuyComment;
    }
}
                        
                        <input type="text" class="form-control" id="BuyComment" name="@BurseItemOverview.NameOfBuyComment" placeholder="Комментарий к покупке" value ="@buyComment">
                    </div>
                    <input type="hidden" name="@BurseItemOverview.NameOfAddBuyOrder" value="@BurseItemOverview.NameOfAddBuyOrder" />
                </fieldset>
                    <div class="form-group">
                        <input type="reset" name="ResetBuyForm" class="btn btn-danger" />
                        <input type="submit" value="Купить" class="btn btn-success" />
                    </div>
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="BuyDate">
                                    Дата покупки
                                </th>
                                <th class="BuyPrice">
                                    Цена покупки
                                </th>
                                <th class="NumbersToBuy">
                                    Количество для покупки
                                </th>
                                <th class="BuyComment">
                                    Комментарий покупки
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @if (Model?.BuyOrders != null)
                {
                    foreach (var record in Model.BuyOrders)
                    {
                        if (record != null)
                        {
                                        <tr>
                                            <td class="BuyDate">
                                                @record.BuyDate
                                            </td>
                                            <td class="BuyPrice">
                                                @record.BuyPrice
                                            </td>
                                            <td class="NumbersToBuy">
                                                @record.NumbersToBuy
                                            </td>
                                            <td class="BuyComment">
                                                @record.BuyComment
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
            }
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("AddSellOrder", "Home", FormMethod.Post, new { @class = "form-horizontal", id = BurseItemOverview.NameOfAddSellOrder }))
            {
                <fieldset>
                    <legend>Разместить ордер на продажу</legend>
                    <div class="form-group">
                        <label class="control-label" for="SellPrice">Цена </label>
                        <input type="number" class="form-control" id="SellPrice" name="@BurseItemOverview.NameOfSellPrice" placeholder="в рублях" value ="@Model?.FieldSellPrice">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="NumbersToSell">Количество </label>
                        <input type="number" class="form-control" id="NumbersToSell" name="@BurseItemOverview.NameOfNumbersToSell" placeholder="в штуках" value ="@Model?.FieldNumbersToSell">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="SellComment">Комментарий </label>
@{
    var sellComment = string.Empty;
    if (!string.IsNullOrWhiteSpace(Model?.FieldSellComment))
    {
        sellComment = Model.FieldSellComment;
    }
}
                        <input type="text" class="form-control" id="SellComment" name="@BurseItemOverview.NameOfSellComment" placeholder="Комментарий к продаже" value ="@sellComment">
                    </div>
                    <input type="hidden" name="@BurseItemOverview.NameOfAddSellOrder" value="@BurseItemOverview.NameOfAddSellOrder"/>
                </fieldset>
                    <div class="form-group">
                        <input type="reset" name="ResetSellForm" class="btn btn-danger" />
                        <input type="submit" value="Продать" class="btn btn-success" />
                    </div>
            }
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="SellDate">
                            Дата продажи
                        </th>
                        <th class="SellPrice">
                            Цена продажи
                        </th>
                        <th class="NumbersToSell">
                            Количество для продажи
                        </th>
                        <th class="SellComment">
                            Комментарий продажи
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @if (Model?.SellOrders != null)
            {
                foreach (var record in Model.SellOrders)
                {
                    if (record != null)
                    {
                                <tr>
                                    <td class="SellDate">
                                        @record.SellDate
                                    </td>
                                    <td class="SellPrice">
                                        @record.SellPrice
                                    </td>
                                    <td class="NumbersToSell">
                                        @record.NumbersToSell
                                    </td>
                                    <td class="SellComment">
                                        @record.SellComment
                                    </td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th class="CompleteDate">
                        Выполнено
                    </th>
                    <th class="BuyDate">
                        Покупка
                    </th>
                    <th class="SellDate">
                        Продажа
                    </th>
                    <th class="Price">
                        Цена
                    </th>
                    <th class="ItemsNumber">
                        Количество
                    </th>
                    <th class="BuyComment">
                        Комментарий покупки
                    </th>
                    <th class="SellComment">
                        Комментарий продажи
                    </th>
                </tr>

            </thead>
            <tbody>
                @if (Model?.BurseTransactions != null)
                {
                    foreach (var record in Model.BurseTransactions)
                    {
                        if (record == null)
                        {
                            continue;
                        }
                        <tr>
                            <td class="CompleteDate">
                                @record.CompleteDate
                            </td>
                            <td class="BuyDate">
                                @record.BuyDate
                            </td>
                            <td class="SellDate">
                                @record.SellDate
                            </td>
                            <td class="TransactionPrice">
                                @record.TransactionPrice
                            </td>
                            <td class="NumbersToTransaction">
                                @record.NumbersToTransaction
                            </td>
                            <td class="BuyComment">
                                @record.BuyComment
                            </td>
                            <td class="SellComment">
                                @record.SellComment
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
